<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <!-- Display error message if it exists -->
    <p th:if="${param.error}" class="error" style="color: red;">[[${param.error}]]</p>
    <form th:action="@{/login}" method="post" onsubmit="return validateForm()">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <!-- Add a button for registration -->
    <a th:href="@{/register}">Register</a>
    
    <!-- JavaScript code -->
    <script th:inline="javascript">
        function validateForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username === "" || password === "") {
                alert("Please enter both username and password.");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>
