<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
</head>
<body>
    <h1>Profile Details</h1>
    <table border="1">
        <tr>
            <td>Name:</td>
            <td th:text="${profile.name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${profile.email}"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td th:text="${profile.phoneNo}"></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td th:text="${profile.age}"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td th:text="${profile.gender}"></td>
        </tr>
    </table>
</body>
</html>
